/storage/*

.env

/vendor/

/bootstrap/
/public/storage/
/public/hot/
/storage/*.key
/storage/*.log
/storage/debugbar/
/homestead.yaml
/Homestead.json
/composer.phar
/.idea/
/_ide_helper.php
/_ide_helper_models.php